<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ros1 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ros1.presentation.Ros1ModelWizardID"
            name="%_UI_Ros1ModelWizard_label"
            class="ros.presentation.Ros1ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Ros1ModelFile.gif">
         <description>%_UI_Ros1ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ros1 -->
      <editor
            id="ros1.presentation.Ros1EditorID"
            name="%_UI_Ros1Editor_label"
            icon="icons/full/obj16/Ros1ModelFile.gif"
            extensions="ros1"
            class="ros.presentation.Ros1Editor"
            contributorClass="ros.presentation.Ros1ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ros -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ros.presentation.Ros1ModelWizardID"
            name="%_UI_Ros1ModelWizard_label"
            class="ros.presentation.Ros1ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Ros1ModelFile.gif">
         <description>%_UI_Ros1ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ros -->
      <editor
            id="ros.presentation.Ros1EditorID"
            name="%_UI_Ros1Editor_label"
            icon="icons/full/obj16/Ros1ModelFile.gif"
            extensions="ros1"
            class="ros.presentation.Ros1Editor"
            contributorClass="ros.presentation.Ros1ActionBarContributor">
      </editor>
   </extension>
</plugin>
