<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ros -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ros.presentation.RosModelWizardID"
            name="%_UI_RosModelWizard_label"
            class="ros.presentation.RosModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RosModelFile.gif">
         <description>%_UI_RosModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ros -->
      <editor
            id="ros.presentation.RosEditorID"
            name="%_UI_RosEditor_label"
            icon="icons/full/obj16/RosModelFile.gif"
            extensions="ros"
            class="ros.presentation.RosEditor"
            contributorClass="ros.presentation.RosActionBarContributor">
      </editor>
   </extension>

</plugin>
