/.RosArtifactDescriptionLabelProvider.java._trace
/.RosArtifactLabelProvider.java._trace
/.RosArtifactDescriptionLabelProvider.xtendbin
/.RosArtifactLabelProvider.xtendbin
/RosArtifactDescriptionLabelProvider.java
/RosArtifactLabelProvider.java
