<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated rossystem -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="rossystem.presentation.RossystemModelWizardID"
            name="%_UI_RossystemModelWizard_label"
            class="rossystem.presentation.RossystemModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RossystemModelFile.gif">
         <description>%_UI_RossystemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rossystem -->
      <editor
            id="rossystem.presentation.RossystemEditorID"
            name="%_UI_RossystemEditor_label"
            icon="icons/full/obj16/RossystemModelFile.gif"
            extensions="rossystem"
            class="rossystem.presentation.RossystemEditor"
            contributorClass="rossystem.presentation.RossystemActionBarContributor">
      </editor>
   </extension>
   
	<extension point="org.eclipse.ui.handlers">
      <handler
         class="rossystem.presentation.AddRosSystemHandler"
         commandId="de.fraunhofer.ipa.ros.newRosSystem">
      </handler>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
         defaultHandler="rossystem.presentation.AddRosSystemHandler"
         description="Add new Ros system"
         id="de.fraunhofer.ipa.ros.newRosSystem"
         name="Add new Ros System">
      </command>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution
         locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      <toolbar
         id="de.fraunhofer.ipa.ros.editor.toolbar2"
         label="NewSystem">
          <command
            commandId="de.fraunhofer.ipa.ros.newRosSystem"
            icon="icons/full/ros_system_icon.jpg"
            id="NewSystem"
            style="push">
				<visibleWhen
                     checkEnabled="false">
                  <or>
                     <with variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="de.fraunhofer.ipa.ros.perspective">
                        </equals>
                     </with>
                  </or>
               </visibleWhen>
         </command>
      </toolbar>
      </menuContribution>
   </extension>

</plugin>
