<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rosgw -->
      <package
            uri="http://www.example.org/rosgw"
            class="de.fraunhofer.ipa.ros.seronetgw.rosgw.RosgwPackage"
            genModel="model/rosgw.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rosgw -->
      <package
            uri="http://www.example.org/ros"
            class="ros.RosPackage"
            genModel="model/rosgw.genmodel"/>
   </extension>

</plugin>
