<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ros -->
      <package
            uri="http://www.example.org/ros"
            class="ros.RosPackage"
            genModel="model/ros.genmodel"/>
   </extension>

null
</plugin>
