/.RosArtifactRuntimeModule.java._trace
/.RosArtifactStandaloneSetup.java._trace
/.RosArtifactRuntimeModule.xtendbin
/.RosArtifactStandaloneSetup.xtendbin
/RosArtifactRuntimeModule.java
/RosArtifactStandaloneSetup.java
