<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="de.fraunhofer.ipa.sirius.ros.Activator"
               id="de.fraunhofer.ipa.sirius.ros"
	       name="ros">
    </component>
  </extension>
</plugin>
