<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="de.fraunhofer.ipa.ros.sirius.Activator"
               id="de.fraunhofer.ipa.ros.sirius"
	       name="ros">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="de.fraunhofer.ipa.ros.sirius.ExternalJavaActionNewComponents"
           id="de.fraunhofer.ipa.ros.sirius.javaActionsNewComponent">
     </javaActions>
  </extension>
</plugin>
