<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <!--extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="de.fraunhofer.ipa.ros.sirius.ExternalJavaActionNewParameter"
           id="de.fraunhofer.ipa.ros.sirius.javaActionsNewParameter">
     </javaActions>
  </extension-->

  
</plugin>
